.logincontainer{
    .formlogin{
        width: 500px;
        height: auto;
        margin: 0 auto;
        padding: 50px;
        background-color: lightblue;
        border-radius:7px;
        margin-top: 50px;
    }
    h2{
        margin-top: -30px;
        margin-bottom: 40px;
        text-align: center;
        color: aliceblue;
    }
}