.buyContainer{
    width: 100vw;
    height: 100vh;

    .content {


        padding-top: 70px;
        margin: 0 auto;
        width: 60%;
        .icon{
            
            border: none;
            background: white;
        }
        .inp{
            width: 100px;
            height: 38px;
        }
        .form{
            margin-top: 40px;
        }
    }
}