.ProductDetailContainer{
    padding-top: 75px;
   
    .spin{
        text-align: center;
        margin-left: -70px;
     
      }
    .content{
        width: 80%;
        margin-left: 10%;
        .title{
            
    }
    .info{
        .productImg{
            .images{
                max-width: 600px;
                height: 0 auto;
            }
            .imagesSmall{
                width: 50px;
                height: 45px;
                border:  1px solid ;
            }
        }
        .price1{
            color: rgb(41, 52, 169);
        }
    
        .price2{
            color: red;
            font-size: 25px;
            font-weight: 700;
        }
        .discount{
            background-color: rgb(38, 104, 162);
            color: antiquewhite;
            font-size: 18px;
            font-weight: 700;
            padding: 13px 5px;
        }
        .discountInfo{
            border: 2px dotted black;
            font-size: 18px;
            font-weight: 700;
            padding: 13px 5px;
        }
    }
    .contact{
        ul li{
            color: black;
        }
    }
    }
   
}
