.navbar-container{
    background: lightcoral;
    padding: 20px 10px 10px 10px;
}
.title{
    ul li{
        list-style-type:none;
        margin-left: 15px;
        font-weight: 600 bolder;
        color: #ffff;
    }
    ul li a {
        text-decoration: none;
        color: white;
    }
}
